.login-box {
  overflow: hidden;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100%;
  align-items: center;
  background-image: url('@/background_barber.png');
  background-size: cover;
  background-position: center;

  &__form {
    width: 450px;
    opacity: 0.6;
    background: #faefa0;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(64, 63, 63);
    transition: 1s;

    &__title {
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      margin: 20px 0 20px 0;
    }

    &__container {
      padding: 0 50px 25px 50px;

      &__input {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__user {
          gap: 10px;
          position: relative;
          display: flex;
          flex-direction: column;

          input {
            padding: 15px 40px 15px 20px;
            border-radius: 6px;
            border: 1px solid #000000;
          }

          &__icon {
            top: 44px;
            right: 10px;
            position: absolute;
          }
        }
      }

      &__button {
        background: rgb(249, 206, 74);
        opacity: 0.4;
        cursor: pointer;
        border-radius: 6px;
        border: none;
        padding: 10px 0 10px 0;
        margin-top: 20px;
        transition: 1s;

        &:hover {
          transition: 1s;
          opacity: 1;
        }
      }

      &__register {
        color: blue;
        text-align: center;
        cursor: pointer;
        margin-top: 20px;
      }
    }

    &:hover {
      transition: 1s;
      opacity: 1;
    }
  }
}
