.admin-wrapper {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  width: 270px;
  background-color: #FF3396;
  color: white;
  &__title {
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
  &__content {
    &__item {
        font-size: 15px;
        padding: 15px;
      &:hover {
        cursor: pointer;
        background-color: #8a918c;
      }
    }
  }
}
