.footer__wrapper{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    margin-top: auto;
    &__item{
        color: white;
        &__img{
            background-color: white;
        }
    }
}