@mixin text-animation {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.wrapper__list__price {
  &__title {
    @include text-animation;
    font-size: 30px;
    text-align: center;
  }
  &__combo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__col {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img {
        object-fit: cover;
        height: 200px;
        width: 200px;
      }
      &__name {
        @include text-animation;
        white-space: break-spaces;
        text-align: center;
        font-size: 30px;
      }
      &__price {
        @include text-animation;
        margin-top: 0;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}



table {
  width: 750px;
  border-collapse: collapse;
  margin: 10px auto;
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
  background-color: #cccccc;
}
