.wrapper__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  gap: 5px;
  &__logo {
    height: 35px;
    width: 35px;
    background-color: aliceblue;
    border-radius: 50%;
    &__image {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
  &__title {
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      background-color: grey;
      cursor: pointer;
    }
  }
  &__icon {
    &:hover {
      font-size: 35px;
      cursor: pointer;
    }
  }
}
